body{
    font-family: 'Gideon Roman', cursive;
    display: flex;
    background-repeat: no-repeat;
    background-image: linear-gradient(65deg,black,#010101   , lightgrey);
   padding-bottom: 100%;
  
}

.nav-link-wrapper {
    width: 150px;
    height: 250px;
    margin: 0px;
    padding: 0px;
}

.nav-link {
    position: fixed;
    top: 0px; 
    text-align: left;
  
}

ul {
    justify-content: center;
    position: fixed;
    list-style: none;
    margin: 0px;
    padding-top: 150px ;

}

a {
    position: relative;
    color: grey;
    font-size: 19px;
    text-decoration-line: none;
    padding: auto;;
}

a:hover {
    position:relative;
    background-color: black;
    color: black;
    border-radius: 45px;
    font-size: 25px;
    font-weight: bolder;
    background-image: linear-gradient(45deg, black, #8d5b63, transparent);
}

.nav-link:hover {
    position:fixed;
    color: black;
    background-color: black;
    font-weight: bolder;
    height: 100%;
    background-image: linear-gradient(45deg, black, #8d5b63, transparent);
}


/*suit container-*/

.image3{

    position: fixed;
    background-repeat: no-repeat;
    right: 0px;
    background-image: linear-gradient(180deg,black,maroon, grey);
}
